.common__section {
  background: linear-gradient(var(--color-mid-trans),var(--color-mid-trans)),
    url("../assets/all-images/common-bg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 80px 0px;
}
