.contact__btn {
  padding: 7px 15px;
  background: var(--color-primary);
  color: #fff;
  border: none;
  outline: none;
  border-radius: 5px;
}

.contact__form-box{
  margin-top: 2rem;
}

.contact__img-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact__img {
  width: 80%;
}

@media only screen and (max-width: 768px) {
  .contact__btn {
    margin-bottom: 40px;
    font-size: 0.8rem;
  }

  .contact__img {
    display: none;
  }
}

@media only screen and (max-width: 1024px) {
  .contact__img {
    display: none;
  }
}
