.footer {
  background: url('../../src/assets/all-images/bg-banner.jpg') no-repeat 50% / cover;
  padding-top: 50px;
  padding-bottom: 15px;
}

.footer__logo i {
  color: #fff;
  font-weight: 400;
}

.footer__logo span {
  color: #fff;
  font-weight: 500;
}

.footer__logo-content {
  color: rgba(255, 255, 255, 0.715);
  margin-top: 15px;
  margin-right: 5rem;
  line-height: 30px;
  /* text-align: justify; */
}

.quick__link {
  border: none !important;
  background: transparent !important;
}

.quick__link a {
  color: rgba(255, 255, 255, 0.715);
  text-decoration: none;
  font-weight: 300;
  transition: 0.3s;
}

.quick__link a:hover {
  color: var(--color-point);
}

.footer__link-title {
  color: #fff;
}

.office__info {
  color: rgba(255, 255, 255, 0.715);
  font-weight: 300;
}

.social__link-icon {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.715);
  font-weight: 500;
  font-size: 1.2rem;
}

.social__link-icon:hover {
  color: var(--color-point);
}

.newsletter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 12px;
  border-radius: 50px;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.8);
}

.footer__latest-news{
  color: var(--color-point);
}

.newsletter input {
  background: transparent;
  color: rgba(255, 255, 255, 0.8);
  border: none;
  outline: none;
}

.newsletter input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.newsletter span i {
  color: rgba(255, 255, 255, 0.6);
}

.footer__bottom {
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}

.footer__bottom p {
  color: var(--color-gray);
}

@media only screen and (max-width: 768px) {

  .footer__logo-content {
    font-size: 0.8rem;
    text-align: center;
    margin-right: 0;
  }

  .footer__sec{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1.2rem;
  }

  .quick__link,
  .office__info {
    font-size: 0.8rem;
    line-height: 1.5rem;
  }

  .footer__link-title {
    font-size: 1rem;
    margin-top: 15px;
  }

  .footer__bottom p {
    font-size: 0.7rem;
  }

  
}

@media only screen and (max-width: 1024px) {

  .footer__logo-content {
    margin-right: 0;
  }

}
