.service__item {
  width: 100%;
  text-align: center;
}

.service__item span i {
  font-size: 2.5rem;
  color: var(--color-point);
}

.service__item h6 {
  font-size: 1.2rem;
  font-weight: 600;
  transition: 0.3s;
}

.service__item h6:hover {
  color: var(--color-point);
}

@media only screen and (max-width: 768px) {
  .service__item h6 {
    font-size: 1.1rem;
  }
}
